body{
    background-color: rgb(14, 14, 80);
}

h1 {
    text-align: center;
    color: rgb(243, 231, 58);
    font-size: 80px;
}

#links a{
    color: rgb(12, 214, 12);
    margin-right: 150px;
    margin-left: 150px;
}

#links {
    text-align: center;
    font-size: 25px;
}

#links a:hover{
    color: white;
    font-size: 26px;
}
