body{
    background-color: rgb(14, 14, 80);
}

h1 {
    text-align: center;
    color: rgb(243, 231, 58);
    font-size: 80px;
}

.links a{
    color: rgb(12, 214, 12);
    display: inline;
}

.link{
    display: flex;
    background-color: aqua;
    padding: 10px 40px;
    border-radius: 50px;
}

.links{
    text-align: center

}

#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding: 20px;
    margin-top: 60px;
}

.foto img{
    width:300px;
    height: 190px;
    border-radius: 8px;
}

